<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
        
      
        
        <!-- Cfgs Propertiess file configuration  -->
        <context:property-placeholder location ="classpath:application.properties"/>
      
      <!--  Rrovide fixed alise name  for the dependency spring bean id  collected from application.properties file 
      and use the fixed bean id in the @Qulifer(...) annocation of the target class -->
      <alias name="${choose.engine}" alias="engg"/>
      
    </beans>
    